
# CSV Formatting for Towing Events
Towing::towid:://TowingId
Towing::from:://From
Towing::to:://To
Towing::schedStart:://ScheduledStart
Towing::schedEnd:://ScheduledEnd
Towing::actualStart:://ActualStart
Towing::actualEnd:://ActualEnd
Towing::arrFlight:://FlightDescriptor['A' = substring(., string-length(.))]
Towing::depFlight:://FlightDescriptor['D' = substring(., string-length(.))]

#CSV Formatting for Airlines
Airline::iataCode::.//ams:AirlineId/ams:AirlineCode[@codeContext='IATA']
Airline::icaoCode::.//ams:AirlineId/ams:AirlineCode[@codeContext='ICAO']

Flight::airlineCode::./ams:FlightId/ams:AirlineDesignator[@codeContext='IATA']
Flight::fltNum::./ams:FlightId/ams:FlightNumber
Flight::schedDate::./ams:FlightId/ams:ScheduledDate
Flight::airportCode::./ams:FlightId/ams:AirportCode[@codeContext='IATA']
Flight::kind::./ams:FlightId/ams:FlightKind
Flight::schedTime::./ams:FlightState/ams:ScheduledTime

Flight::linked_airlineCode::./ams:FlightState/ams:LinkedFlight/ams:FlightId/ams:AirlineDesignator[@codeContext='IATA']
Flight::linked_fltNum::./ams:FlightState/ams:LinkedFlight/ams:FlightId/ams:FlightNumber
Flight::linked_schedDate::./ams:FlightState/ams:LinkedFlight/ams:FlightId/ams:ScheduledDate
Flight::linked_airportCode::./ams:FlightState/ams:LinkedFlight/ams:FlightId/ams:AirportCode[@codeContext='IATA']
Flight::linked_kind::./ams:FlightState/ams:LinkedFlight/ams:FlightId/ams:FlightKind
Flight::linked_schedTime::./ams:FlightState/ams:LinkedFlight/ams:Value[@propertyName='ScheduledTime']
Flight::linked_UniqueID::./ams:FlightState/ams:LinkedFlight/ams:Value[@propertyName='FlightUniqueID']
