
# CSV Formatting for Towing Events
Towing::towid:://TowingId
Towing::from:://From
Towing::to:://To
Towing::schedStart:://ScheduledStart
Towing::schedEnd:://ScheduledEnd
Towing::actualStart:://ActualStart
Towing::actualEnd:://ActualEnd
Towing::arrFlight:://FlightDescriptor['A' = substring(., string-length(.))]
Towing::depFlight:://FlightDescriptor['D' = substring(., string-length(.))]

#CSV Formatting for Airlines
Airline::iataCode::.//ams:AirlineId/ams:AirlineCode[@codeContext='IATA']
Airline::icaoCode::.//ams:AirlineId/ams:AirlineCode[@codeContext='ICAO']