.hourIndicator {
    border-left: 1px lightslategray solid;
    position: absolute;
    top: 0px;
    height: 100%;
}

.odd {
    background: lightgray;
}

.even {
    background: silver;
}

.downgradePartial {
    background: gray;
    color: black;
    padding-top: 4px;
    padding-left: 2px;
    white-space: nowrap;
    font-size: 9px;
    font-style: italic;
}

.downgradeFull {
    background: yellow;
    color: black;
    padding-top: 4px;
    padding-left: 2px;
    white-space: nowrap;
    font-size: 9px;
    font-style: italic;
}

.flight {
    background: #00FF00;
    color: black;
    top: 12px;
    height: 14px;
    position: absolute;
    border: 1px solid black;
    font-size: 12px;
    font-family: Verdana;
    padding-left: 4px;
    white-space: nowrap;
}

.flightUnallocated {
    background: pink;
    color: black;
    top: 12px;
    height: 14px;
    position: absolute;
    border: 1px solid black;
    font-size: 12px;
    font-family: Verdana;
    padding-left: 4px;
    white-space: nowrap;
}

.ondowngradeflight {
    background: #81DAF5;
    color: black;
    top: 12px;
    height: 13px;
    position: absolute;
    border: 1px solid black;
    font-size: 12px;
    font-family: Verdana;
    padding-left: 4px;
    white-space: nowrap;
}

.fromTimeDiv {
    color: black;
    top: 1px;
    left: 1px;
    height: 10px;
    position: absolute;
    font-size: 8px;
    font-family: Verdana;
    white-space: nowrap;
}

.setTitle {
    font-family: Verdana;
    font-size: 18pt;
}

.areaTitle {
    font-family: Verdana;
    font-size: 14pt;
}

.toTimeDiv {
    color: black;
    top: 30px;
    height: 10px;
    position: absolute;
    font-size: 8px;
    font-family: Verdana;
    white-space: nowrap;
}

.toStand {
    border-left: 2px dotted black;
}

.fromStand {
    border-right: 2px dotted black;
}
