<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AMSRestServiceURI" value="http://localhost:80/api/v1/" />
    <add key="AMSWebServiceURI" value ="http://localhost/SITAAMSIntegrationService/v2/SITAAMSIntegrationService"/>
    <add key="IATAAirportCode" value="DOH" />
    <add key="Token" value="b406564f-44aa-4e51-a80a-aa9ed9a04ec6" />
    <add key="DAve" value="b406564f-44aa-4e51-a80a-aa9ed9a04ec6" />
  </appSettings>
</configuration>