<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AMSRestServiceURI" value="http://localhost:8080/AMS/api/v1/" />
    <add key="AMSWebServiceURI" value ="http://localhost/SITAAMSIntegrationService/v2/SITAAMSIntegrationService"/>
    <add key="IATAAirportCode" value="ABC" />
    <add key="Token" value="b1748c6f-1c1f-4646-8020-c98e834ea691" />
  </appSettings>
</configuration>