<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AMSRestServiceURI" value="http://localhost:9191/api/v1/" />
    <add key="AMSWebServiceURI" value ="http://localhost:9191/SITAAMSIntegrationService/v2/SITAAMSIntegrationService" />
    <add key="IATAAirportCode" value="IXE" />
    <add key="Token" value="32b8ef7a-0a16-4b4a-9e01-799960c91e0e" />
    <add key="FlightQueryAPIURI"  value="http://localhost:8080/JAF_FLIGHT_QUERY_CACHE_API/flightcache/" />
    <add key="FlightQueryAPIUser" value="QUERYCACHE" />
    <add key="FlightQueryAPIPassword" value="QueryCache@123" />
    <add key="UseFlightQueryAPI" value ="false" />
    <add key="SaveJobCron" value="0 0,5,10,15,20,25,30,35,40,45,50,55 * * * ?" />
    <add key="SaveJobOutputFolder" value="C:/Users/dave_/Desktop/" />
    <add key="SaveJobOutputBaseFile" value="AMSGantt" />
    <add key="SaveJobSets" value="Unallocated;HIA;DIA" />
    <add key="SaveJobOutputBaseFileTimeFormat" value="yyyyMMdd-HHmmss" />
  </appSettings>
</configuration>